@font-face {
    font-family: "Orbitron";
    src: url("../assets/fonts/orbitron/Orbitron-Medium.ttf");
}

@font-face {
    font-family: "Robotro";
    src: url("../assets/fonts/roboto/Roboto-Medium.ttf");
}

body {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.caroussel_game_slider {
    position: absolute;
    left: 0;
    top: 20vh;
    width: 100%;
    height: 100vh;
    display: none;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#splide__list {
    overflow: visible;
}

#splide-track {

    overflow: visible;
}

.song_element {
    margin-top: 5vh !important;
    height: 30vh;
    background-size: 20%;
    color: #fff;
    background: rgba(37, 2, 90, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13px);
    overflow-y: visible;
    -webkit-backdrop-filter: blur(13px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    opacity: 90%;
    image-rendering: pixelated;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

.song_element h1 {
    font-family: Orbitron;
    text-transform: uppercase;
}

.song_element h2 {
    font-family: Robotro;
}

.song_element.is-active {
    transition: all 1s;
    margin-top: 0vh !important;
    height: 40vh;
}

#select_button {
    display: none;
    background: rgba(37, 2, 90, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13px);
    overflow-y: visible;
    -webkit-backdrop-filter: blur(13px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 9vw;
    height: 9vw;
    position: absolute;
    bottom: 25vh;
    margin-bottom: -8.5vw;
    left: 45.5vw;
    background-position: center;
    background-size: cover;
    fill: white;
    padding: 1vw;
}

#left_button {
    display: none;
    background: rgba(37, 2, 90, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13px);
    overflow-y: visible;
    -webkit-backdrop-filter: blur(13px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 9vw;
    height: 9vw;
    padding: 0.75vw;
    margin-bottom: -8.5vw;
    position: absolute;
    bottom: 30vh;
    background-position: center;
    background-size: cover;
    left: 25.5vw;
}

#right_button {
    display: none;
    padding: 0.75vw;
    background: rgba(37, 2, 90, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13px);
    overflow-y: visible;
    -webkit-backdrop-filter: blur(13px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 9vw;
    margin-bottom: -8.5vw;
    height: 9vw;
    position: absolute;
    background-position: center;
    background-size: cover;
    bottom: 30vh;
    right: 25.5vw;
}

#game_caroussel {
    pointer-events: none;
}

#splide__list {
    pointer-events: all;
}

/* SPLASHSCREEN */
#splash_screen {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    flex-direction: column;
    font-weight: 400;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: "Rotunda Extra Bold", sans-serif;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    letter-spacing: 6px;
    margin: 0;
    line-height: 1.2;
}

span {
    display: inline-block;
}


/* REQUEST CAPTURE */
#request_capture {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    flex-direction: column;
    font-weight: 400;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: "Rotunda Extra Bold", sans-serif;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    letter-spacing: 6px;
    margin: 0;
    line-height: 1.2;
}

/* SCREEN BETWEEN */
#scene-transitor-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: black;
    opacity: 0%;
    transition: all 0.5s;
    z-index: 100;
    pointer-events: none;
}

#scene-transitor-background.opacity-max {
    opacity: 100%;
    transition: all 0.5s;
}

#game-start-decount {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 50%;
    justify-content: center;
    align-items: center;
}

#counter-text {
    font-size: 5vw;
    color: white;
}


/* DATAVIZ */
.square {
    background: rgb(30, 28, 28);
    border-radius: 33.207px;
    position: relative;
    width: 27rem;
    height: 12rem;
    flex-shrink: 0;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.square p {
    color: white;
    font-family: "Orbitron";
}

.titleSquare {
    font-size: 2rem;
    font-family: "Orbitron";
}

.textInRect {
    right: 10%;
    font-size: 4rem;
    grid-template-columns: repeat(2, 75px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    /* padding: 16px;*/
}


.textData {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.note {
    grid-column: 1;
    grid-row: 2 / 4;
    height: auto;
}


#container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: auto;
    margin-right: auto;
}


#playerScore {
    color: #6DE700;
    left: 30%;
    width: 9rem;
    font-size: 3rem;
    top: 12%;
}

#playerRating {
    height: 18rem;
    left: 25%;
    font-size: 16rem;
}


.imgArms {
    display: flex;
    flex-direction: row;
}

.textArms {
    display: flex;
}

.formArms {
    padding: 16px;
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
}

.textGreen {
    color: #6DE700 !important
}