
@font-face {
    font-family: "Orbitron";
    src: url("../assets/fonts/orbitron/Orbitron-Regular.ttf");
}

@font-face {
    font-family: "Robotro";
    src: url("../assets/fonts/roboto/Roboto-Medium.ttf");
}

body {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.caroussel_game_slider {
    position: absolute;
    left: 0;
    top: 20vh;
    width: 100%;
    height: 100vh;
    display: none;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#splide__list{
    overflow: visible;
}

#splide-track{
    
    overflow: visible;
}

.song_element {
    margin-top:5vh !important;
    height: 30vh;
    background-size: 20%;
    color: #fff;
    background: rgba( 37, 2, 90, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13px );
    overflow-y: visible;
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    opacity: 90%;
    image-rendering: pixelated;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

.song_element h1{
    font-family: Orbitron;
    text-transform: uppercase;
}

.song_element h2{
    font-family: Robotro;
}

.song_element.is-active {
    transition: all 1s;
    margin-top:0vh !important;
    height: 40vh;
}

#select_button{
    display: none;
    background: rgba( 37, 2, 90, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13px );
    overflow-y: visible;
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 9vw;
    height: 9vw;
    position: absolute;
    bottom: 25vh;
    margin-bottom: -8.5vw;
    left: 45.5vw;
    background-position: center;
    background-size: cover;
    fill: white;
    padding: 1vw;
}

#left_button{
    display: none;
    background: rgba( 37, 2, 90, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13px );
    overflow-y: visible;
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 9vw;
    height: 9vw;
    padding: 0.75vw;
    margin-bottom: -8.5vw;
    position: absolute;
    bottom: 30vh;
    background-position: center;
    background-size: cover;
    left: 25.5vw;
}

#right_button{
    display: none;
    padding: 0.75vw;
    background: rgba( 37, 2, 90, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13px );
    overflow-y: visible;
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 9vw;
    margin-bottom: -8.5vw;
    height: 9vw;
    position: absolute;
    background-position: center;
    background-size: cover;
    bottom: 30vh;
    right: 25.5vw;
}

#game_caroussel {
    pointer-events: none;
}

#splide__list {
    pointer-events: all;
}

/* SPLASHSCREEN */
#splash_screen {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    flex-direction: column;
    font-weight: 400;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: "Rotunda Extra Bold", sans-serif;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    letter-spacing: 6px;
    margin: 0;
    line-height: 1.2;
}

span {
    display: inline-block;
}


/* REQUEST CAPTURE */
#request_capture {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    flex-direction: column;
    font-weight: 400;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: "Rotunda Extra Bold", sans-serif;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    letter-spacing: 6px;
    margin: 0;
    line-height: 1.2;
}

/* SCREEN BETWEEN */
#scene-transitor-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: black;
    opacity: 0%;
    transition: all 0.5s;
    z-index: 100;
    pointer-events: none;
}

#scene-transitor-background.opacity-max {
    opacity: 100%;
    transition: all 0.5s;
}

#game-start-decount {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 50%;
    justify-content: center;
    align-items: center;
}

#counter-text {
    font-size: 5vw;
    color: white;
}


/* DATAVIZ */
#container {
    position: absolute;
    width: 700px;
    height: 400px;
}

#textData {
    height: 400px;
    width: 700px;
}

#totalsKeys {
    left: 7%;
}

#keysMiss {
    left: 7%;
}

#keysTouch {
    left: 7%;
}

#playerScore {
    left: 78%;
    top: 82%;
}

#playerRating {
    left: 42%;
    top: 35%;
}

#successPercentage {
    left: 7%;
    bottom: 10%;
}

#livesRemaining {
    left: 79%;
    bottom: 20%;
}

#leftArm {
    left: 7%;
    top: 59%;
}

#rightArm {
    left: 7%;
    top: 60%;
}

.square {
    border-radius: 33.207px;
    position: absolute;
    width: 48%;
    height: 48%;
    flex-shrink: 0;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.square p {
    font-size: 35px;
    position: relative;
    left: 10% !important;
}


#topLeftKeys {
    top: 0;
    left: 0;
    background: rgba(109, 231, 0, 0.40);
}

#topRightLife {
    background: var(--090606, rgba(9, 6, 6, 0.72));
    top: 0;
    right: 0;
}

#armCenter {
    background: rgba(109, 231, 0, 0.40);
    top: 50%;
    right: 0;
}

#score {
    background: rgba(109, 231, 0, 0.40);
    top: 100%;
    right: 0;
}

#note {
    top: 50%;
    left: 0;
    height: 98% !important;
    background: var(--090606, rgba(9, 6, 6, 0.72));
}