

@font-face {
    font-family: "Orbitron";
    src: url("../assets/fonts/orbitron/Orbitron-Regular.ttf");
}

@font-face {
    font-family: "Robotro";
    src: url("../assets/fonts/roboto/Roboto-Medium.ttf");
}

body {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/**
* Splash screen page
*/

.splash_screen{
    font-family: 'Montserrat', sans-serif;
    font-size: 8vw;
    letter-spacing: 0;
    line-height: 7vw;
    text-align: left;
    z-index: 10;
    position: relative;
}

/**
* Wave
*/

#background_splash_screen{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #1E1C1C;
}

.wrapper {
    width: 100vw;
    height: 300vh;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to top, rgba(172, 203, 238, 0) 0%, #e7f0fd00 100%);
    overflow: hidden;
    z-index: 0;
}

.wave {
    width: 200vw;
    height: 202vw;
    position: absolute;
    top: -1%;
    left: 50%;
    margin-left: -100vw;
    margin-top: -80vw;
    border-radius: 35%;
    background-color: #252525;
    filter: blur(100px);
    animation: wave 23s infinite linear;
}

.second{
    background: #FF007D;
    animation: wave 15s infinite linear;
}
.third{
    top: -10%;
    background: #6DE700;
    animation: wave 17s infinite linear;
}

@keyframes wave {
    from { transform: rotate(0deg);}
    from { transform: rotate(360deg);}
}

/**
* Caroussel
*/

.caroussel_game_slider {
    position: absolute;
    left: 0;
    top: 20vh;
    height: 100vh;
    width: 30vw;
    left: 35vw;
    display: none;
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#splide__list{
    overflow: visible;
}

#splide-track{
    
    overflow: visible;
}

.song_element {
    margin-top:10vh !important;
    height: 30vh;
    width: 100vw;
    background-size: 20%;
    color: #fff;
    background-color: #1E1C1C;
    backdrop-filter: blur( 13px );
    overflow-y: visible;
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    opacity: 90%;
    image-rendering: pixelated;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
}


.song_element h1{
    font-family: Orbitron;
    text-transform: uppercase;
    color: #CA00D3;
    font-size: 3.5vw;
    width: 100%;
    padding: 1vw;
    padding-top: 0vw;
}

.song_element h2{
    font-family: Robotro;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 1.2vw;
    padding:0.5vw;
    padding-top: 0.25vw;
    padding-bottom: 0.25vw;
    margin: 0.5vw;
    color: #919191;
    border-color: white;
    border-style: solid;
    border-radius: 0.7vw;
    border-width: 2px;
}

.difficulty_text{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    height: 2vw;
    width: 100%;
    margin: 1vw;
    margin-right: 1vw;
    align-items: end;
    justify-content: end;
}

.difficulty_text h3{
    font-family: Robotro;
    font-size: 1.2vw;
    padding-right: 0.5rem;
    color: #919191;

}

.difficulty_text img{
    height: 1.75vw;
}

.song_element.is-active {
    transition: all 1s;
    margin-top:0vh !important;
    height: 35vh;
    margin-bottom:2.5vh;
}

#target-mouse-hand{
    display: none;
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -1vw;
    margin-top: -1vw;
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    /**
    * Change the box shadow of the target mouse in future
    */
    background-color: #CA00D3;
    justify-content: center;
    align-items: center;
}

#target-mouse-inner{
    width: 0%;
    height: 0%;
    background-color: #ffffff;
    border-radius: 100%;
    transition: all 1s;
}

#target-mouse-hand.is-loading #target-mouse-inner{
    transition: all 1s;
    width: 100%;
    height: 100%;
}

#select_button{
    display: none;
    background: #1E1C1C;
    backdrop-filter: blur( 13px );
    overflow-y: visible;
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 14vw;
    height: 9vw;
    position: absolute;
    bottom: 35vh;
    margin-bottom: -8.5vw;
    left: 42.5vw;
    background-position: center;
    background-size: cover;
    fill: white;
    padding: 1.5vw;
    background-image: url("../assets/images/button/play.svg");
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: baseline;
    font-family: Orbitron;
    font-size: 3vw;
    color: rgba(240, 255, 255, 0);
    pointer-events: none;
}


#left_button{
    display: none;
    background: #1E1C1C;
    backdrop-filter: blur( 13px );
    overflow-y: visible;
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 9vw;
    height: 9vw;
    padding: 0.75vw;
    margin-bottom: -8.5vw;
    position: absolute;
    bottom: 30vh;
    background-position: center;
    background-size: cover;
    left: 25.5vw;
    background-image: url("../assets/images/button/left-2.svg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
}
#right_button{
    display: none;
    padding: 0.75vw;
    background: #1E1C1C;
    backdrop-filter: blur( 13px );
    overflow-y: visible;
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 9vw;
    margin-bottom: -8.5vw;
    height: 9vw;
    position: absolute;
    background-position: center;
    background-size: cover;
    bottom: 30vh;
    right: 25.5vw;
    background-image: url("../assets/images/button/right-2.svg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
}


#game_caroussel {
    pointer-events: none;
}

#splide__list {
    pointer-events: all;
}

/* SPLASHSCREEN */
#splash_screen {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    flex-direction: column;
    font-weight: 400;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: "Rotunda Extra Bold", sans-serif;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    letter-spacing: 6px;
    margin: 0;
    line-height: 1.2;
}

span {
    display: inline-block;
}


/* REQUEST CAPTURE */
#request_capture {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    flex-direction: column;
    font-weight: 400;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-family: "Rotunda Extra Bold", sans-serif;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    letter-spacing: 6px;
    margin: 0;
    line-height: 1.2;
}

.request_capture{
    font-family: Orbitron;
    font-size: 3vw;
}

/* SCREEN BETWEEN */
#scene-transitor-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: black;
    opacity: 0%;
    transition: all 0.5s;
    z-index: 100;
    pointer-events: none;
}

#scene-transitor-background.opacity-max {
    opacity: 100%;
    transition: all 0.5s;
    pointer-events: none;
}

#game-start-decount {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 50%;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

#counter-text {
    font-size: 5vw;
    color: white;
    pointer-events: none;
}


/* DATAVIZ */
.square {
    background: rgb(30, 28, 28);
    border-radius: 33.207px;
    position: relative;
    width: 27rem;
    height: 12rem;
    flex-shrink: 0;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.square p {
    color: white;
    font-family: "Orbitron";
}

.titleSquare {
    font-size: 2rem;
    font-family: "Orbitron";
}

.textInRect {
    right: 10%;
    font-size: 4rem;
    grid-template-columns: repeat(2, 75px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    /* padding: 16px;*/
}


.textData {
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.note {
    grid-column: 1;
    grid-row: 2 / 4;
    height: auto;
}


#container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: auto;
    margin-right: auto;
}


#playerScore {
    color: #6DE700;
    font-size: 3rem;
}

#playerRating {
    height: 18rem;
    left: 25%;
    font-size: 16rem;
}

.score-data{
    padding-bottom: 2vh;
}

.label-key-touch{
    padding-top: 2vh;
}


.imgArms {
    display: flex;
    flex-direction: row;
}

.textArms {
    display: flex;
}

.formArms {
    padding: 16px;
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
}

.textGreen {
    color: #6DE700 !important
}

#button_return_to_main_menu{
    width: 15vw;
    height: 15vh;
    position: absolute;
    top: 42.5vh;
    right: 2vw;
    background: #1E1C1C;
    backdrop-filter: blur( 13px );
    overflow-y: visible;
    -webkit-backdrop-filter: blur( 13px );
    border-radius: 30px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: none;
    background-image: url("../assets/images/button/leave.svg");
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
}

#leftArm{
    margin-right: 2vw;
}

#rightArm{
    margin-left: 2vw;
}

#livesRemaining{
    display: flex;
    align-items: end;
}

#livesRemaining img{
    padding: 1vh;
}

#counter-text{
    font-family: Orbitron;
}